# ------------------------------------------------------------------------------
# RUSTDESK UNIFIED GITIGNORE
# ------------------------------------------------------------------------------

# Docker persistent data
/data/

# Environment configurations containing secrets
.env

# OS files
.DS_Store
Thumbs.db

# Build artifacts (if compiled outside docker)
*.exe
*.log
apimain

# Sub-projects ignored files
**/target/
**/node_modules/
**/dist/
**/release/
**/runtime/
**/debian-build/
**/debian/.debhelper/
**/debian/debhelper-build-stamp
**/.vscode/
**/.idea/
**/*.db
**/*.sqlite3
rustdesk-server/id*
rustdesk-server/db*
rustdesk-server/src/version.rs
rustdesk-api/resources/admin/
.tmp/
